BODY {
	font-family: Lucida, 'Lucida Grande', Tahoma, sans-serif ;
}

A {
	color: #AB1413 ;
	text-decoration: none ;
}

.topicSection {
	background-color: #F2F2F2 ;
}

DIV.article H2 {
	margin-top: 0px ;
	margin-bottom: -15px ;
	font-size: 16px;
	font-weight: bold ;
	color: #AB1413;
	line-height: 20px;
}

DIV.article .tagline {
	font-size: 12px ;
	margin-top: -12px
}

P.header {
	margin-top: 2px ;
	margin-bottom: 2px ;
}

#footer {
	border-top: thin solid #737373 ;
	color: #737373 ;
	background-color: #FAFAFA ;
	font-size: 12px;
	line-height: 14px ;
}